<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="robots" content="all, noodp, noydir">

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Thomas Paulin" />
  <meta property="og:title" content="Thomas Paulin" />
  <meta property="og:url" content="https://blog.thomaspaulin.me/" />
  <!-- <meta property="og:image" content="" /> -->
  
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://blog.thomaspaulin.me/">
  <meta name="twitter:title" content="Thomas Paulin." />
  <!-- <meta name="twitter:image:src" content="" /> -->
  <meta name="twitter:site" content="@thomaspaulinnz">
  <meta name="twitter:creator" content="@othomaspaulinnz">

  {{ if .IsPage }}
  <meta name="description" content="{{ .Page.Summary }}" />
  <meta name="og:description" content="{{ .Page.Summary }}" />
  <meta name="twitter:description" content="{{ .Page.Summary }}" />
  {{ else }}
  <meta name="description" content="{{ .Site.Params.Description }}" />
  <meta name="og:description" content="{{ .Site.Params.Description }}" />
  <meta name="twitter:description" content="{{ .Site.Params.Description }}" />
  {{ end }}

  <base href="{{ .Site.BaseURL }}" />
  <title>
    {{ if .IsPage }}{{ .Title }} | {{ .Site.Title}}{{ else }}{{ .Site.Title}}{{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}" />

  {{ range .AlternativeOutputFormats -}} {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end }}

  <link href="/css/style.css" type="text/css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Esteban|Montserrat&display=swap" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Fira+Mono&display=swap" rel="stylesheet" />

  {{ template "_internal/opengraph.html" . }} {{ template "_internal/twitter_cards.html" . }}
</head>
